<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stack.name %>
</p>

<p>
  <b>Question:</b>
  <%= @stack.question %>
</p>

<p>
  <b>Answer:</b>
  <%= @stack.answer %>
</p>

<p>
  <b>Choices:</b>

  <% parseChoices(@stack.choices).each do |choice| %>
  <%= choice %><br />
  <% end %>
  
</p>


<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>


